<!DOCTYPE html>
<html>
<head>
  <title>Lontara AI</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    .tools {
        width: 280px;
    }
    .tools button{
        border: 2px;
        width: 95px;
        border-radius: 0px;
    }
    canvas {
            border: 1px blue solid; 
        }
  </style>
</head>
<body>
  <nav class="navbar text-light bg-info">
    <div class="mx-auto"><h1 style="font-family: arial">Lontara Character Recognition</h1></div>
  </nav>
  {% if response %}
      {% if success %}
          <p class="alert alert-success m-4 text-center">Prediction Result : {{ response }}</p>
      {% else %}
          <p class="alert alert-success m-4 text-center">{{ response }}</p>
      {% endif %}
  {% endif %}
  <div class="container mt-4">
    <div class="row" style="width: 280px; margin: auto;">
      <div class="tools d-flex justify-content-center">
        <button class="btn btn-danger" id="clear" onclick="clear()">Clear</button>
        <button class="btn btn-success" id="pastel" onclick="pastel()">Pastel</button>
        <button class="btn btn-warning" id="eraser" onclick="eraser()">Eraser</button>
      </div>
    </div>
    <form action="/" method="post" onsubmit="canvastoimage()">
      <div class="row">
        <div class="col d-flex justify-content-center">
            <input type="hidden" id="canvasimg" name="canvasimg">
            <input type="hidden" id="canvasdata" name="canvasdata" value="{{ canvasdata }}">
            <canvas id="canvas" width="300" height="300"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
              <button style="width: 280px; border-radius: 0px;" class="btn btn-success" id="send" type="submit">Detect Number</button>
          </div>
      </div>
    </form>
  </div>

    <script type="text/javascript">
      let isDown = false;
      let points = [];
      let beginPoint = null;
      const canvas = document.querySelector('#canvas');
      const ctx = canvas.getContext('2d');

      const canvasdata = document.querySelector('#canvasdata').value;
      if (canvasdata){
          const image = new Image();
          image.onload = ()=>{
              ctx.drawImage(image, 0, 0);
            };
            image.src = canvasdata;
        //   ctx.fillStyle = "white";
        // ctx.fillRect(0, 0, canvas.width, canvas.height);
          } else {
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
      }

      // Setting Line Colors
      // ctx.fillStyle = 'white';
      // ctx.strokeStyle = 'black';
      ctx.lineWidth = 20;
      ctx.lineJoin = 'round';
      ctx.lineCap = 'round';

      canvas.addEventListener('mousedown', down, false);
      canvas.addEventListener('mousemove', move, false);
      canvas.addEventListener('mouseup', up, false);
      canvas.addEventListener('mouseout', up, false);

      canvas.addEventListener('touchstart', touchstart, false);
      canvas.addEventListener('touchmove', touchmove, false);
      canvas.addEventListener('touchend', touchend, false);  

      function touchstart(event) { down(event.touches[0]) }
      function touchmove(event) { move(event.touches[0]); event.preventDefault(); }
      function touchend(event) { up(event.changedTouches[0]) }

      function down(evt) {
        isDown = true;
        const { x, y } = getPos(evt);
        points.push({x, y});
        beginPoint = {x, y};
          ctx.beginPath();
          ctx.arc(x, y, 10, 0, Math.PI*2, true);
          ctx.fillStyle = "black";
          ctx.closePath();
          ctx.fill();
      }

      function move(evt) {
          if (!isDown) return;

          const { x, y } = getPos(evt);
          points.push({x, y});

          if (points.length > 3) {
              const lastTwoPoints = points.slice(-2);
              const controlPoint = lastTwoPoints[0];
              const endPoint = {
                  x: (lastTwoPoints[0].x + lastTwoPoints[1].x) / 2,
                  y: (lastTwoPoints[0].y + lastTwoPoints[1].y) / 2,
              }
              drawLine(beginPoint, controlPoint, endPoint);
              beginPoint = endPoint;
          }
      }

      function up(evt) {
          if (!isDown) return;
          const { x, y } = getPos(evt);
          points.push({x, y});

          if (points.length > 3) {
              const lastTwoPoints = points.slice(-2);
              const controlPoint = lastTwoPoints[0];
              const endPoint = lastTwoPoints[1];
              drawLine(beginPoint, controlPoint, endPoint);
          }
          beginPoint = null;
          isDown = false;
          points = [];
      }

      function getPos(evt) {
          return {
              x: evt.clientX - canvas.getBoundingClientRect().left,
              y: evt.clientY - canvas.getBoundingClientRect().top
          }
      }

      function drawLine(beginPoint, controlPoint, endPoint) {
          ctx.beginPath();
          ctx.moveTo(beginPoint.x, beginPoint.y);
          ctx.quadraticCurveTo(controlPoint.x, controlPoint.y, endPoint.x, endPoint.y);
          ctx.stroke();
          ctx.closePath();
      }

      const clear = document.querySelector('#clear');
      clear.addEventListener('click', ()=>{
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
      });

      // Canvas Submit
        const canvastoimage = ()=>{
            const canvas = document.querySelector('#canvas');
            document.getElementById('canvasimg').value = canvas.toDataURL();
        };
    </script>
</body>
</html>