<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lontara-AI</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

  <!-- =======================================================
  * Template Name: eNno - v4.7.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">eNno</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="getstarted scrollto" href="#drawing">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="height: 100vh;" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Lontara-AI</h1>
          <h2>Belajar aksara Lontara secara interaktif. Menggunakan teknologi pemrosesan gambar dengan Deep Learning sebagai backendnya, sehingga proses pembelajaran lebih menyenangkan!</h2>
          <div class="d-flex">
            <a href="#drawing" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{{ url_for('static', filename='img/lontara.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Mengenalkan Budaya dengan cara yang berbeda</h3>
            <p>
              <b>Aksara Lontara</b> adalah aksara atau huruf tradisional masyarakat Suku Bugis-Makassar yang terdiri atas 23 aksara dasar. Lontara berasal dari kata lontar, yaitu salah satu jenis tumbuhan yang digunakan sebagai media tulis saat itu di Sulawesi Selatan.
            </p>
            <!-- <ul>
              <li><i class="bi bi-check-circle"></i> Antarmuka yang menarik dengan hasil yang mudah dipahami</li>
              <li><i class="bi bi-check-circle"></i> gratis tanpa dikenakan biaya apapun</li>
              <li><i class="bi bi-check-circle"></i> Akurasi yang baik dalam mengenali Aksara yang diinput oleh pengguna</li>
            </ul> -->
            <p>
              Akan tetapi, saat ini Aksara Lontara sudah banyak dilupakan  masyarakat Sulawesi Selatan, khususnya oleh para generasi muda. Maka dari itu, kami berharap dengan adanya Lontara-AI ini dapat meningkatkan pemahaman dan membangun kesadaran anak muda di Sulawesi Selatan khususnya, agar senantiasa melestarikan warisan leluhur sekaligus memperkenalkan Aksara Lontara pada Dunia.
            </p>
            <!-- <h3>ᨔᨙᨂᨛᨀ ᨔᨗᨆᨈ ᨍᨑᨘ ᨕᨘᨅᨒᨗ ᨔᨙᨂᨛᨀᨗ ᨔᨗᨄᨘᨄᨘᨑᨙ ᨒᨗᨊᨚ</h3> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <section id="drawing">
      <div class="container aqua-gradient">
        <div class="col content text-center">
          <h3>Coba tulis aksara dibawah ini!</h3>
        </div>
        <div class="row pt-4 justify-content-center text-center">
          <div class="col-lg-4 text-center">
            <img id="lontara_ex" src="{{ url_for('static', filename='img/lontara/ka.png') }}" class="img-fluid animated" alt="">
            <h1 id="txt_lontara"></h1>
          </div>
          <div class="col-lg-4">
            
            <form id="canvas_form" method="POST" onsubmit="canvastoimage()">
              <input type="hidden" id="canvasimg" name="canvasimg">
              <input type="hidden" id="let_lontara" name="let_lontara">
              <input type="hidden" id="canvasdata" name="canvasdata" value="{{ canvasdata }}">
              <canvas class="rounded border-3" id="canvas" width="256" height="256"></canvas>
              <div class="pt-3">
                <button class="btn-custom" id="clear" type="button" onclick="clear()"><i class="bx bxs-eraser"></i> Clear</button>
                <button id="send" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <!-- <section id="cta" class="cta"> -->
      <!-- <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div> -->
    <!-- </section>End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <span>Our Team</span>
          <h2>Our Team</h2>
          <!-- <p>Senang berkenalan dengan anda,inilah wajah wajah kami sebagai pengembang aplikasi</p> -->
        </div>

        <div class="row justify-content-md-center"">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/team-1.jpg') }}" alt="">
              <h4>Asrul Said</h4>
              <span>D4 Teknik Komputer dan Jaringan</span>
              <span>Politeknik Negeri Ujung Pandang</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/team-2.jpg') }}" alt="">
              <h4>Kisma</h4>
              <span>D4 Teknik Komputer dan Jaringan</span>
              <span>Politeknik Negeri Ujung Pandang</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/team-3.jpg') }}" alt="">
              <h4>Zaenul Bahri</h4>
              <span>Rekayasa Sistem Komputer</span>
              <span>Universitas Teknologi Mataram</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/team-3.jpg') }}" alt="">
              <h4>Budiansyah</h4>
              <span>Teknik Elektro</span>
              <span>Universitas Udayana</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="{{ url_for('static', filename='img/team/team-3.jpg') }}" alt="">
              <h4>Afdal Ramadhan</h4>
              <span>Teknik Sipil</span>
              <span>Politeknik Negeri Ujung Pandang</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>eNno</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript">
    let isDown = false;
    let points = [];
    let beginPoint = null;
    const canvas = document.querySelector('#canvas');
    const ctx = canvas.getContext('2d');

    const canvasdata = document.querySelector('#canvasdata').value;
    if (canvasdata){
        const image = new Image();
        image.onload = ()=>{
            ctx.drawImage(image, 0, 0);
          };
          image.src = canvasdata;
      //   ctx.fillStyle = "white";
      // ctx.fillRect(0, 0, canvas.width, canvas.height);
        } else {
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
    }

    // Setting Line Colors
    // ctx.fillStyle = 'white';
    // ctx.strokeStyle = 'black';
    ctx.lineWidth = 10;
    ctx.lineJoin = 'round';
    ctx.lineCap = 'round';

    canvas.addEventListener('mousedown', down, false);
    canvas.addEventListener('mousemove', move, false);
    canvas.addEventListener('mouseup', up, false);
    canvas.addEventListener('mouseout', up, false);

    canvas.addEventListener('touchstart', touchstart, false);
    canvas.addEventListener('touchmove', touchmove, false);
    canvas.addEventListener('touchend', touchend, false);  

    function touchstart(event) { down(event.touches[0]) }
    function touchmove(event) { move(event.touches[0]); event.preventDefault(); }
    function touchend(event) { up(event.changedTouches[0]) }

    function down(evt) {
      isDown = true;
      const { x, y } = getPos(evt);
      points.push({x, y});
      beginPoint = {x, y};
        ctx.beginPath();
        ctx.arc(x, y, 5, 0, Math.PI*2, true);
        ctx.fillStyle = "black";
        ctx.closePath();
        ctx.fill();
    }

    function move(evt) {
        if (!isDown) return;

        const { x, y } = getPos(evt);
        points.push({x, y});

        if (points.length > 3) {
            const lastTwoPoints = points.slice(-2);
            const controlPoint = lastTwoPoints[0];
            const endPoint = {
                x: (lastTwoPoints[0].x + lastTwoPoints[1].x) / 2,
                y: (lastTwoPoints[0].y + lastTwoPoints[1].y) / 2,
            }
            drawLine(beginPoint, controlPoint, endPoint);
            beginPoint = endPoint;
        }
    }

    function up(evt) {
        if (!isDown) return;
        const { x, y } = getPos(evt);
        points.push({x, y});

        if (points.length > 3) {
            const lastTwoPoints = points.slice(-2);
            const controlPoint = lastTwoPoints[0];
            const endPoint = lastTwoPoints[1];
            drawLine(beginPoint, controlPoint, endPoint);
        }
        beginPoint = null;
        isDown = false;
        points = [];
    }

    function getPos(evt) {
        return {
            x: evt.clientX - canvas.getBoundingClientRect().left,
            y: evt.clientY - canvas.getBoundingClientRect().top
        }
    }

    function drawLine(beginPoint, controlPoint, endPoint) {
        ctx.beginPath();
        ctx.moveTo(beginPoint.x, beginPoint.y);
        ctx.quadraticCurveTo(controlPoint.x, controlPoint.y, endPoint.x, endPoint.y);
        ctx.stroke();
        ctx.closePath();
    }

    const clear = document.querySelector('#clear');
    clear.addEventListener('click', ()=>{
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, canvas.width, canvas.height);
    });

    // Canvas Submit
      const canvastoimage = ()=>{
          const canvas = document.querySelector('#canvas');
          document.getElementById('canvasimg').value = canvas.toDataURL();
      };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  $(document).on('submit','#canvas_form',function(e)
                  {
    // console.log("{{ url_for('static', filename='img/lontara/ka.png') }}");
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:'/',
      data:{
        canvasimg:$("#canvasimg").val(),
        let_lontara:$("#let_lontara").val()
      },
      success:function(result)
      {
        // console.log(result);
        if (result=="success") {
          displayImage();
          var duration = 3 * 1000;
          var animationEnd = Date.now() + duration;
          var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 99999 };

          function randomInRange(min, max) {
            return Math.random() * (max - min) + min;
          }

          var interval = setInterval(function() {
            var timeLeft = animationEnd - Date.now();

            if (timeLeft <= 0) {
              return clearInterval(interval);
            }

            var particleCount = 50 * (timeLeft / duration);
            // since particles fall down, start a bit higher than random
            confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } }));
            confetti(Object.assign({}, defaults, { particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } }));
          }, 250);

          Swal.fire({
            title:'Horeee kamu benar!',
            text:'Yuk Lanjut ^_^',
            icon:'success',
            showConfirmButton: false,
            timer: 3000
          })
        } else {
          Swal.fire({
            title:'Yaah Salah!!!',
            text:'Coba lagi ya',
            icon:'error',
            showConfirmButton: false,
            timer: 3000
          })
        }
      }
    })
  });
</script>

<script language="javascript">
  window.onload = displayImage;

  var imagesArray = [
  'ka',
  'ga',
  'nga',
  'ngka',
  'pa',
  'ba',
  'ma',
  'mpa',
  'ta',
  'da',
  'na',
  'nra',
  'ca',
  'ja',
  'nya',
  'nca',
  'ya',
  'ra',
  'la',
  'wa',
  'sa',
  'a',
  'ha'
  ];
  
  var usedImages = {};
  var usedImagesCount = 0;
  
  function displayImage(){
  
      var num = Math.floor(Math.random() * (imagesArray.length));
      if (!usedImages[num]){
        document.getElementById("lontara_ex").src = "static/img/lontara/"+imagesArray[num]+".png";
        document.getElementById('let_lontara').value = imagesArray[num];
        document.getElementById('txt_lontara').innerHTML = imagesArray[num];
        // console.log("static/"+imagesArray[num]);
        
          usedImages[num] = true;
          usedImagesCount++;
          if (usedImagesCount === imagesArray.length){
              usedImagesCount = 0;
              usedImages = {};
          }
      } else {
          displayImage();
      }
  }
  
  </script>
    

</body>

</html>